{
    "mirror_path": "/mirror",
    "repo_path": "/mirror/repos",
    "repo_config_path": "/mirror/configs",
    "repo_log_path": "/mirror/logs",
    "web_server": false,
    "host_port": 5050,
    "auth": {
        "user": "admin",
        "password": "admin"
    }
}